@use "@/assets/styles/variables.scss" as *;

.product {
	padding: 10px;
	background-color: $whiteColor;
	border-radius: 10px;
	box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
	cursor: pointer;
	transition: all ease-in 0.2s;

	&:hover {
		background-color: pink;
	}
}

.id {
	font-size: 2rem;
}

.price {
	font-size: 1.6rem;
}
